<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="layouts/defaultTemplate">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div layout:fragment="content">
			<h3>Registration</h3>
			<a href="/login/">Login</a>
			<br/>
			<form th:action="@{doRegistration}" th:object="${newUser}" method="PoSt">
				<table>
					<tr>
						<td>Username:</td>
						<td><input type="text" th:Field="*{username}"/></td>
						<td>
							<h5 style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</h5>
						</td> 						
					</tr>
					<tr>
						<td>Password:</td>
						<td><input type="password" th:Field="*{password}"/></td>
						<td>
							<h5 style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</h5>
						</td>						
					</tr>
					<tr>
						<td colspan="2" align="center">
							<input type="submit" value="Submit"/>
						</td>
					</tr>
				</table>
				<span style="color:red;" th:text="${invalid}"></span>
			</form>			
			
		</div>
	</body>
</html>