<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/common">
	<head>
		<meta charset="ISO-8859-1">
		<title>Home</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
	<body>
		<div th:fragment="header">
			<div class="navbar">
				<script>
				$.ajax({
					url: "/ajax/navbar",
					type: "GET",
					success: function(response)
					{
						$("#ajax-navbar").html(response);
					},
					error: function(jqXHR, textStatus, errorThrown) 
					{
						console.log(textStatus, errorThrown);
					}
				});
				</script>
				<div id="ajax-navbar"></div>
			</div>
			
			<!-- Page Title and Logo -->
			
			<br/><br/>
		</div>
		<div layout:fragment="content">
			<h1>Testing Home</h1>
			<div id="links-to-section-pages">
				<ul>
					<!-- <li><a href="class/import">Class Import</a></li> -->
					<li><a href="program/import">Import Programs</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>