<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="layouts/defaultTemplate">
	<head>
		<meta charset="UTF-8">
		<title>Classes</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
	<body>
		<div th:fragment="header">
			<div class="navbar">
				<script>
				$.ajax({
					url: "/ajax/navbar",
					type: "GET",
					success: function(response)
					{
						console.log(response);
						$("#ajax-navbar").html(response);
					},
					error: function(jqXHR, textStatus, errorThrown) 
					{
						console.log(textStatus, errorThrown);
					}
				});
				</script>
				<div id="ajax-navbar"></div>
			</div>
			
			<!-- Page Title and Logo -->
			
			<br/><br/>
		</div>
		<div layout:fragment="content">
			<h2>Classes</h2>
            <div id="classes-links">
                <ul>
                    
                </ul>
            </div>
			<div class="form-div search-div">
				<form th:action="@{/class/search}" th:object="${searchVals}" method="PoSt">
					<div class="form-row">
						<div class="col-md-6 form-group">
							<label>Search For Class</label>
							<select class="form-control" th:field="*{tableHeader}">
								<option value="number">Number</option>
								<option value="name">Name</option>
								<option value="description">Description</option>
							</select>
						</div>
						<div class="col-md-6 form-group">
							<input type="text" class="form-control" th:field="*{querry}" th:classappend="${#fields.hasErrors('querry')} ? 'error-field'">
						</div>
					</div>
				</form>
			</div>
			<hr>
			<div class="table-div classes">
                <table class="classes-table">
                    <tr class="classes-header-row">
                        <td class="classes-header">Number</td>
						<td class="classes-header">Credits</td>
                        <td class="classes-header">Name</td>
                    </tr>
                    <tr th:each="class : ${classes}" class="classes-row">
                        <td class="classes-data">
                            <a th:href="@{/class/number/{number}(number=${class.number})}" th:text="${class.number}"></a>
                        </td>
						<td>
							<div th:text="${class.credits}">Credits</div>
						</td>
                        <td class="classes-data">
                            <div th:text="${class.name}">Class Name</div>
                        </td>
                    </tr>
                </table>
            </div>
			<div>
				<form th:action="@{/class/search}" th:object="${searchVals}" method="PoSt">
					<button type="submit">View All</button>
				</form>
				<!-- TODO: View all classes button -->
			</div>
		</div>
	</body>
</html>