<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="layouts/defaultTemplate">
	<head>
		<meta charset="UTF-8">
		<title>Class Import</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
	<body>
		<div th:fragment="header">
			<div class="navbar">
				<script>
				$.ajax({
					url: "/ajax/navbar",
					type: "GET",
					success: function(response)
					{
						$("#ajax-navbar").html(response);
					},
					error: function(jqXHR, textStatus, errorThrown) 
					{
						console.log(textStatus, errorThrown);
					}
				});
				</script>
				<div id="ajax-navbar"></div>
			</div>
			
			<!-- Page Title and Logo -->
			
			<br/><br/>
		</div>
		<div layout:fragment="content">
			<div id="div class-import">
				<div>
					Import Classes
				</div>
				<div class="form-div import-div import-classes">
					<form th:action="@{/class/importClasses}" th:object="${formObjectClass}" method="PoSt">
						<div class="form-row">
							<div class="col-md-6 form-group">
								<label>Available Files to Import</label>
								<select class="form-control" th:field="${formObjectClass.filename}">
									<div th:each="filename : ${filenames}" class="fileSelect-div-option-filename">
										<option th:value="${filename}" th:text="${filename}" class="fileSelect-option-filename"></option>
									</div>
								</select>
							</div>
							<input type="submit" value="Submit" class="fileSelect-input-submit">
						</div>
					</form>
				</div>
			</div>
			<br>
			<div id="div prerequisite-import">
				<div>
					Import Prerequisites
				</div>
				<div class="form-div import-div import-classes">
					<form th:action="@{/class/importPrerequisite}" th:object="${formObjectPrerequisite}" method="post">
						<div class="form-row">
							<div class="col-md-6 form-group">
								<label>Available Files to Import</label>
								<select class="form-control" th:field="${formObjectPrerequisite.filename}">
									<div th:each="filename : ${filenames}" class="fileSelect-div-option-filename">
										<option th:value="${filename}" th:text="${filename}" class="fileSelect-option-filename"></option>
									</div>
								</select>
							</div>
							<input type="submit" value="Submit" class="fileSelect-input-submit">
						</div>
					</form>
				</div>
			</div>
			<div th:if="${not #lists.isEmpty(classes)}" class="table-div import-results-classes">
				<hr>
				<label>Results</label>
				<table class="import-results-classes-table">
					<tr class="classes-header-row">
                        <td class="classes-header">Number</td>
						<td class="classes-header">Credits</td>
                        <td class="classes-header">Name</td>
                    </tr>
                    <tr th:each="class : ${classes}" class="classes-row">
                        <td class="classes-data">
                            <a th:href="@{/class/number/{number}(number=${class.number})}" th:text="${class.number}"></a>
                        </td>
						<td>
							<div th:text="${class.credits}">Credits</div>
						</td>
                        <td class="classes-data">
                            <div th:text="${class.name}">Class Name</div>
                        </td>
                    </tr>
				</table>
			</div>
			<hr>
			<div th:if="${not #lists.isEmpty(logs)}" class="table-div import-results-logs">
				<label>Logs</label>
				<table class="import-results-logs-table">
					<tr class="import-results-logs-header-row">
						<td class="import-results-logs-header">Level</td>
						<td class="import-results-logs-header">File Location</td>
						<td class="import-results-logs-header">Method Location</td>
						<td class="import-results-logs-header">Message</td>
					</tr>
					<tr th:each="log : ${logs}" class="import-results-logs-row">
						<td class="import-results-logs-data">
							<div th:text="${log.messageLevel}"></div>
						</td>
						<td class="import-results-logs-data">
							<div th:text="${log.fileLocation}"></div>
						</td>
						<td class="import-results-logs-data">
							<div th:text="${log.methodLocation}"></div>
						</td>
						<td class="import-results-logs-data">
							<div th:text="${log.message}"></div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>