<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="layouts/defaultTemplate">
	<head>
		<meta charset="UTF-8">
		<title>Classes</title>
	</head>
	<body>
		<div layout:fragment="content">
            <div class="form-div search-div search-classes">
				<form th:action="@{/class/search}" th:object="${searchVals}" method="PoSt">
					<div class="form-row">
						<div class="col-md-6 form-group">
							<label>Search For Class</label>
							<select class="form-control" th:field="*{tableHeader}">
								<option value="number">Number</option>
								<option value="name">Name</option>
								<option value="description">Description</option>
							</select>
						</div>
						<div class="col-md-6 form-group">
							<input type="text" class="form-control" th:field="*{querry}" th:classappend="${#fields.hasErrors('querry')} ? 'error-field'">
						</div>
					</div>
				</form>
			</div>
            <div class="table-div search-results-classes">
                <label>Results</label>
                <table class="search-results-classes-table">
                    <tr class="search-results-classes-header-row">
                        <td class="search-results-classes-header">Number</td>
                        <td class="search-results-classes-header">Name</td>
                    </tr>
                    <tr th:each="class : ${classes}" class="search-results-classes-row">
                        <td class="search-results-classes-data">
                            <a th:href="@{/class/number/{number}(number=${class.number})}" th:text="${class.number}"></a>
                        </td>
                        <td class="search-results-classes-data">
                            <div th:text="${class.name}">Class Name</div>
                        </td>
                    </tr>
                </table>
            </div>
		</div>
	</body>
</html>