<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="layouts/defaultTemplate">
	<head>
		<meta charset="UTF-8">
		<title>View Class</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
	<body>
		<div th:fragment="header">
			<div class="navbar">
				<script>
				$.ajax({
					url: "/ajax/navbar",
					type: "GET",
					success: function(response)
					{
						$("#ajax-navbar").html(response);
					},
					error: function(jqXHR, textStatus, errorThrown) 
					{
						console.log(textStatus, errorThrown);
					}
				});
				</script>
				<div id="ajax-navbar"></div>
			</div>
			
			<!-- Page Title and Logo -->
			
			<br/><br/>
		</div>
		<div layout:fragment="content">
			<div th:each="class : ${classes}">
                <div>
                    <div th:text="${'Name: ' + class.name}">Class Name</div>
                    <div th:text="${'Number: ' + class.number}">Class Number</div>
                    <div th:text="${'Description: ' + class.description}">Class Description</div>
                    <div th:text="${'Credits: ' + class.credits}">Class Credits</div>
					<table th:if="${not #lists.isEmpty(class.prerequisites)}">
						<thead>
							<tr>
								<th>And/Or</th>
								<th>Class IDs</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="prerequisite : ${class.prerequisites}">
								<td th:text="${prerequisite.andOr ? 'AND' : 'OR'}"></td>
								<td>
									<ul>
										<div th:each="reqClass : ${requiredClasses}">
											<div th:each="classID : ${prerequisite.classIDs}">
												<a 
													th:if="${classID == reqClass.id}"
													th:href="@{/class/number/{number}(number=${reqClass.number})}" 
													th:text="${reqClass.number}">
												</a>
											</div>
										</div>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
                </div>
            </div>
		</div>
	</body>
</html>