<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="layouts/defaultTemplate">
	<head>
		<meta charset="UTF-8">
		<title>View Class</title>
	</head>
	<body>
		<div th:fragment="header">
			<div align="center">
				<h1>GCU Requirement Viewer</h1>
			</div>
			<div class="navbar">
				<nav class="navbar navbar-default">
					<!-- Collection of nav links and other content for toggling -->
					<div id="navbarCollapse" class="collapse navbar-collapse">
						<label>Navbar</label>
						<ul class="nav navbar-nav">
							<li><a href="/home">Home</a></li>
							<li><a href="/class">Class Home</a></li>
							<li><a href="/program">Program Home</a></li>
							<li><a href="/test">Testing Home</a></li>
						</ul>
					</div>
				</nav>
			</div>
			
			<!-- Page Title and Logo -->
			
			<br/><br/>
		</div>
		<div layout:fragment="content">
			<div th:each="class : ${classes}">
                <div>
                    <div th:text="${'Name: ' + class.name}">Class Name</div>
                    <div th:text="${'Number: ' + class.number}">Class Name</div>
                    <div th:text="${'Description: ' + class.description}">Class Name</div>
                    <div th:text="${'Credits: ' + class.credits}">Class Name</div>
					<table th:if="${not #lists.isEmpty(class.prerequisites)}">
						<thead>
							<tr>
								<th>And/Or</th>
								<th>Class IDs</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="prerequisite : ${class.prerequisites}">
								<td th:text="${prerequisite.andOr ? 'AND' : 'OR'}"></td>
								<td>
									<ul>
										<div th:each="reqClass : ${requiredClasses}">
											<div th:each="classID : ${prerequisite.classIDs}">
												<a 
													th:if="${classID == reqClass.id}"
													th:href="@{/class/number/{number}(number=${reqClass.number})}" 
													th:text="${reqClass.number}">
												</a>
											</div>
										</div>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
                </div>
            </div>
		</div>
	</body>
</html>