<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="layouts/defaultTemplate">
	<head>
		<meta charset="UTF-8">
		<title>View Class</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<style>
			.inline
			{
				display: inline-block;
			}
			.bold 
			{
  				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<div th:fragment="header">
			<div class="navbar">
				<script>
				$.ajax({
					url: "/ajax/navbar",
					type: "GET",
					success: function(response)
					{
						$("#ajax-navbar").html(response);
					},
					error: function(jqXHR, textStatus, errorThrown) 
					{
						console.log(textStatus, errorThrown);
					}
				});
				</script>
				<div id="ajax-navbar"></div>
			</div>
			
			<!-- Page Title and Logo -->
			
			<br/><br/>
		</div>
		<div layout:fragment="content">
			<h2>Class Information</h2>
			<div th:each="class : ${classes}">
                <div>
					<label class="bold inline" for="class-name-div">Name:</label>
                    <div class="inline" id="class-name-div" th:text="${class.name}">Class Name</div>
					<br>
					<label class="bold inline" for="class-number-div">Number:</label>
                    <div class="inline" id="class-number-div" th:text="${class.number}">Class Number</div>
					<br>
					<label class="bold inline" for="class-credits-div">Credits:</label>
                    <div class="inline" id="class-credits-div" th:text="${class.credits}">Class Credits</div>
					<br>
					<label class="bold inline" for="class-description-div">Description:</label>
                    <div class="inline" id="class-description-div" th:text="${class.description}">Class Description</div>
					<br>
					<div th:if="${not #lists.isEmpty(class.prerequisites)}">
						<br>
						<label class="bold">Prerequisites:</label>
						<table>
							<thead>
								<tr>
									<th>And/Or</th>
									<th>Class #</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="prerequisite : ${class.prerequisites}">
									<td th:text="${prerequisite.andOr ? 'AND' : 'OR'}"></td>
									<td>
										<ul>
											<div th:each="reqClass : ${requiredClasses}">
												<div th:each="classID : ${prerequisite.classIDs}">
													<a 
														th:if="${classID == reqClass.id}"
														th:href="@{/class/number/{number}(number=${reqClass.number})}" 
														th:text="${reqClass.number}">
													</a>
												</div>
											</div>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
						<p>AND = Required prerequiste class.</p>
						<p>OR = Alternative prerequiste class.</p>
					</div>
                </div>
            </div>
		</div>
	</body>
</html>