<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="layouts/defaultTemplate">
	<head>
		<meta charset="UTF-8">
		<title>Compare Schedule to Program</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script th:inline="javascript">
			// Get the course schedule from client storage
			var courseSchedule = localStorage.getItem('courseSchedule');
			//console.log("Stored Schedule: "+courseSchedule);
			if(courseSchedule === null)
			{ 
				courseSchedule="";
			}
			// Schedue Table
			$.ajax({
				url: "/ajax/schedule/table",
				type: "POST",
				data: {importJSON:courseSchedule},
				success: function(response)
				{
					$("#ajax-current-schedule").html(response);
					//console.log(response);
				},
				error: function(jqXHR, textStatus, errorThrown) 
				{
					console.log(textStatus, errorThrown);
				}
			});
			// Program Select Form
			$.ajax({
				url: "/ajax/schedule/programSelectForm",
				type: "GET",
				success: function(response)
				{
					$("#ajax-program-compare-select").html(response);
					//console.log(response);
				},
				error: function(jqXHR, textStatus, errorThrown) 
				{
					console.log(textStatus, errorThrown);
				}
			});
			// Compare Schedule to Program Div
			var urlProgramName=[[${urlProgram}]];
			if(urlProgramName === null)
			{
				urlProgramName="Bachelor of Science in Software Development";
				const newURL = window.location.protocol+'//'+window.location.host+'/schedule/compare/'+urlProgramName;
        		window.location.href = newURL;
			}
			$.ajax({
				url: "/ajax/schedule/programCompare/",
				type: "POST",
				data: {importJSON:courseSchedule, programName:urlProgramName},
				success: function(response)
				{
					$("#ajax-program-compare-div").html(response);
					//console.log(response);
				},
				error: function(jqXHR, textStatus, errorThrown) 
				{
					console.log(textStatus, errorThrown);
				}
			});
			
		</script>
	</head>
	<body>
		<div th:fragment="header">
			<div align="center">
				<h1>GCU Requirement Viewer</h1>
			</div>
			<div class="navbar">
				<nav class="navbar navbar-default">
					<!-- Collection of nav links and other content for toggling -->
					<div id="navbarCollapse" class="collapse navbar-collapse">
						<label>Navbar</label>
						<ul class="nav navbar-nav">
							<li><a href="/home">Home</a></li>
							<li><a href="/class">Class Home</a></li>
							<li><a href="/program">Program Home</a></li>
							<li><a href="/schedule">Schedule Home</a></li>
							<li><a href="/test">Testing Home</a></li>
						</ul>
					</div>
				</nav>
			</div>
			
			<!-- Page Title and Logo -->
			
			<br/><br/>
		</div>
		<div layout:fragment="content">
			<button onclick="window.print()">Print Page</button>
			<hr>
			<div id="ajax-current-schedule"></div>
			<hr>
			<div id="ajax-program-compare-select"></div>
			<hr>
			<div id="ajax-program-compare-div"></div>
		</div>
	</body>
</html>