<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="layouts/defaultTemplate">
	<head>
		<meta charset="UTF-8">
		<title>Course Schedule Edit</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
			// Get the course schedule from client storage
			var courseSchedule = localStorage.getItem('courseSchedule');
			if(courseSchedule === null)
			{ 
				courseSchedule="";
			}

			$.ajax({
				url: "/ajax/schedule/table",
				type: "POST",
				data: {importJSON:courseSchedule},
				success: function(response)
				{
					$("#ajax-current-schedule").html(response);
					//console.log(response);
				},
				error: function(jqXHR, textStatus, errorThrown) 
				{
					console.log(textStatus, errorThrown);
				}
			});

			$.ajax({
				url: "/ajax/schedule/newschedulerow",
				type: "POST",
				data: {importJSON:courseSchedule},
				success: function(response)
				{
					$("#ajax-new-schedule-row").html(response);
					//console.log(response);
				},
				error: function(jqXHR, textStatus, errorThrown) 
				{
					console.log(textStatus, errorThrown);
				}
			});

			

		</script>
	</head>
	<body>
		<div th:fragment="header">
			
			<div class="navbar">
				<script>
				$.ajax({
					url: "/ajax/navbar",
					type: "GET",
					success: function(response)
					{
						$("#ajax-navbar").html(response);
					},
					error: function(jqXHR, textStatus, errorThrown) 
					{
						console.log(textStatus, errorThrown);
					}
				});
				</script>
				<div id="ajax-navbar"></div>
			</div>
			
			<!-- Page Title and Logo -->
			
			<hr>
		</div>
		<div layout:fragment="content">
			<div id="ajax-current-schedule"></div>
			<hr>
			<div id="ajax-new-schedule-row"></div>
		</div>
	</body>
</html>