<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="layouts/defaultTemplate">
	<head>
		<meta charset="UTF-8">
		<title>Course Schedule</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
			// Get the course schedule from client storage
			var courseSchedule = localStorage.getItem('courseSchedule');
			//console.log("Stored Schedule: "+courseSchedule);
			if(courseSchedule === null)
			{ 
				courseSchedule="";
			}
			$.ajax({
				url: "/ajax/schedule/table",
				type: "POST",
				data: {importJSON:courseSchedule},
				success: function(response)
				{
					$("#ajax-current-schedule").html(response);
					//console.log(response);
				},
				error: function(jqXHR, textStatus, errorThrown) 
				{
					console.log(textStatus, errorThrown);
				}
			});
			$.ajax({
				url: "/ajax/schedule/importjson",
				type: "POST",
				data: {importJSON:courseSchedule},
				success: function(response)
				{
					$("#import-json-form-ajax").html(response);
					//console.log(response);
				},
				error: function(jqXHR, textStatus, errorThrown) 
				{
					console.log(textStatus, errorThrown);
				}
			});
			

		</script>
	</head>
	<body>
		<div th:fragment="header">
			<div align="center">
				<h1>GCU Requirement Viewer</h1>
			</div>
			<div class="navbar">
				<nav class="navbar navbar-default">
					<!-- Collection of nav links and other content for toggling -->
					<div id="navbarCollapse" class="collapse navbar-collapse">
						<label>Navbar</label>
						<ul class="nav navbar-nav">
							<li><a href="/home">Home</a></li>
							<li><a href="/class">Class Home</a></li>
							<li><a href="/program">Program Home</a></li>
							<li><a href="/schedule">Schedule Home</a></li>
							<li><a href="/test">Testing Home</a></li>
						</ul>
					</div>
				</nav>
			</div>
			
			<!-- Page Title and Logo -->
			<hr>
		</div>
		<div layout:fragment="content">
			<div id="ajax-current-schedule"></div>
			<hr>
			<a href="/schedule/edit">Edit Schedule</a>
			<hr>
			<h3>Import Course Schedule</h3>
			<div id="import-json-form-ajax">"{[0,CST-339,0]}"</div>
		</div>
	</body>
</html>