<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="layouts/defaultTemplate">
	<head>
		<meta charset="UTF-8">
		<title>Course Schedule</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
			// Get the course schedule from client storage
			var courseSchedule = localStorage.getItem('courseSchedule');
			//console.log("Stored Schedule: "+courseSchedule);
			if(courseSchedule === null)
			{ 
				courseSchedule="";
			}
			$.ajax({
				url: "/ajax/schedule/table",
				type: "POST",
				data: {importJSON:courseSchedule},
				success: function(response)
				{
					$("#ajax-current-schedule").html(response);
					//console.log(response);
				},
				error: function(jqXHR, textStatus, errorThrown) 
				{
					console.log(textStatus, errorThrown);
				}
			});
			$.ajax({
				url: "/ajax/schedule/importjson",
				type: "POST",
				data: {importJSON:courseSchedule},
				success: function(response)
				{
					$("#import-json-form-ajax").html(response);
					//console.log(response);
				},
				error: function(jqXHR, textStatus, errorThrown) 
				{
					console.log(textStatus, errorThrown);
				}
			});
			

		</script>
	</head>
	<body>
		<div th:fragment="header">
			<div class="navbar">
				<script>
				$.ajax({
					url: "/ajax/navbar",
					type: "GET",
					success: function(response)
					{
						$("#ajax-navbar").html(response);
					},
					error: function(jqXHR, textStatus, errorThrown) 
					{
						console.log(textStatus, errorThrown);
					}
				});
				</script>
				<div id="ajax-navbar"></div>
			</div>
			
			<!-- Page Title and Logo -->
			<hr>
		</div>
		<div layout:fragment="content">
			<h2>Your Program Status</h2>
			<a href="/schedule/edit">Add/Edit History</a> <br>
			<a href="/schedule/compare">Compare History Against Program Requirements</a>
			<hr>
			<div id="ajax-current-schedule"></div>
			<hr>
			<div id="import-json-form-ajax">"{[0,CST-339,0]}"</div>
			<hr>
			<button onclick="window.print()">Print Page</button>
		</div>
	</body>
</html>