<div align="center">
    <h1>GCU Requirement Viewer</h1>
</div>
<div class="navbar">
    <nav class="navbar navbar-default">
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <label>Navbar</label>
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/class">Classes</a></li>
                <li><a href="/program">Program Requirements</a></li>
                <li><a href="/schedule">Your Program Status</a></li>
                <li><a href="/login">Login</a></li>
                <li th:if="${isAuthenticated}"><a href="/logout">Logout</a></li>
                <li th:if="${isAuthenticated}"><a href="/test">Testing</a></li>
            </ul>
        </div>
    </nav>
</div>