<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="layouts/defaultTemplate">
	<head>
		<meta charset="UTF-8">
		<title>Programs</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
	<body>
		<div th:fragment="header">
			<div class="navbar">
				<script>
				$.ajax({
					url: "/ajax/navbar",
					type: "GET",
					success: function(response)
					{
						$("#ajax-navbar").html(response);
					},
					error: function(jqXHR, textStatus, errorThrown) 
					{
						console.log(textStatus, errorThrown);
					}
				});
				</script>
				<div id="ajax-navbar"></div>
			</div>
			
			<!-- Page Title and Logo -->
			
			<br/><br/>
		</div>
		<div layout:fragment="content">
			<div class="form-div search-div">
				<form th:action="@{/program/search}" th:object="${searchVals}" method="PoSt">
					<div class="form-row">
						<div class="col-md-6 form-group">
							<label>Search For Programs</label>
							<select class="form-control" th:field="*{tableHeader}">
								<option value="name">Name</option>
								<option value="description">Description</option>
							</select>
						</div>
						<div class="col-md-6 form-group">
							<input type="text" class="form-control" th:field="*{querry}" th:classappend="${#fields.hasErrors('querry')} ? 'error-field'">
						</div>
						<input type="submit" value="Submit" class="form-input-submit">
					</div>
				</form>
			</div>
			<div th:if="${not #lists.isEmpty(programs)}" class="table-div search-results-programs">
                <label>Search Results</label>
                <table class="search-results-programs-table">
                    <tr class="search-results-programs-header-row">
                        <td class="search-results-programs-header">Name</td>
                        <td class="search-results-programs-header">Total Credits</td>
                    </tr>
                    <tr th:each="program : ${programs}" class="search-results-programs-row">
                        <td class="search-results-programs-data">
                            <a th:href="@{/program/name/{name}(name=${program.name})}" th:text="${program.name}"></a>
                        </td>
						<td class="search-results-programs-data" th:text="${program.totalMinCredits}"></td>
                    </tr>
                </table>
            </div>
		</div>
	</body>
</html>