<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="layouts/defaultTemplate">
	<head>
		<meta charset="UTF-8">
		<title>Programs Import</title>
	</head>
	<body>
		<div th:fragment="header">
			<div align="center">
				<h1>GCU Requirement Viewer</h1>
			</div>
			<div class="navbar">
				<nav class="navbar navbar-default">
					<!-- Collection of nav links and other content for toggling -->
					<div id="navbarCollapse" class="collapse navbar-collapse">
						<label>Navbar</label>
						<ul class="nav navbar-nav">
							<li><a href="/home">Home</a></li>
							<li><a href="/class">Class Home</a></li>
							<li><a href="/program">Program Home</a></li>
							<li><a href="/test">Testing Home</a></li>
						</ul>
					</div>
				</nav>
			</div>
			
			<!-- Page Title and Logo -->
			
			<br/><br/>
		</div>
		<div layout:fragment="content">
			<div>
				Import Programs
			</div>
            <div class="form-div search-div search-programs">
				<form th:action="@{/program/import}" th:object="${formObject}" method="PoSt">
					<div class="form-row">
						<div class="col-md-6 form-group">
							<label>Available Files to Import</label>
							<select class="form-control" th:field="${formObject.filename}">
                                <div th:each="filename : ${filenames}" class="fileSelect-div-option-filename">
                                    <option th:value="${filename}" th:text="${filename}" class="fileSelect-option-filename"></option>
                                </div>
							</select>
						</div>
                        <input type="submit" value="Submit" class="fileSelect-input-submit">
					</div>
				</form>
			</div>
			<div th:if="${not #lists.isEmpty(programs)}" class="table-div search-results-programs">
                <label>Import Results</label>
                <table class="search-results-programs-table">
                    <tr class="search-results-programs-header-row">
                        <td class="search-results-programs-header">Name</td>
                    </tr>
                    <tr th:each="program : ${programs}" class="search-results-programs-row">
                        <td class="search-results-programs-data">
                            <a th:href="@{/program/name/{name}(name=${program.name})}" th:text="${program.name}"></a>
                        </td>
                    </tr>
                </table>
            </div>
		</div>
	</body>
</html>