<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="layouts/defaultTemplate">
	<head>
		<meta charset="UTF-8">
		<title>View Program</title>
	</head>
	<body>
		<div th:fragment="header">
			<div align="center">
				<h1>GCU Requirement Viewer</h1>
			</div>
			<div class="navbar">
				<nav class="navbar navbar-default">
					<!-- Collection of nav links and other content for toggling -->
					<div id="navbarCollapse" class="collapse navbar-collapse">
						<label>Navbar</label>
						<ul class="nav navbar-nav">
							<li><a href="/home">Home</a></li>
							<li><a href="/class">Class Home</a></li>
							<li><a href="/program">Program Home</a></li>
							<li><a href="/test">Testing Home</a></li>
						</ul>
					</div>
				</nav>
			</div>
			
			<!-- Page Title and Logo -->
			
			<br/><br/>
		</div>
		<div layout:fragment="content">
			<div th:each="program : ${programs}">
                <div>
                    <div th:text="${'Name: ' + program.name}"></div>
                    <div th:text="${'Description: ' + program.description}"></div>
                    <div th:text="${'Level: ' + program.level}"></div>
					<div th:text="${'General Education Credits: ' + program.genEdMinCredits + '-' + program.genEdMaxCredits}"></div>
					<div th:text="${'Elective Credits: ' + program.electiveMinCredits + '-' + program.electiveMaxCredits}"></div>
					<div th:text="${'Major Credits: ' + program.majorMinCredits}"></div>
					<div th:text="${'Total Credits: ' + program.totalMinCredits}"></div>
					<table>
						<thead>
							<tr>
								<th>Number</th>
								<th>Name</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="requiredClassID : ${program.getRequiredMajorClasses()}">
								<td>
									<a
										th:each="class : ${reqClasses}"
										th:if="${requiredClassID == class.id}"
										th:href="@{/class/number/{number}(number=${class.number})}" 
										th:text="${class.number}"
									>
									</a>
								</td>
								<td
									th:each="class : ${reqClasses}"
									th:if="${requiredClassID == class.id}"
									th:text="${class.name}"
								>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
            </div>
		</div>
	</body>
</html>