<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="layouts/defaultTemplate">
	<head>
		<meta charset="UTF-8">
		<title>View Program</title>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<style>
			.inline
			{
				display: inline-block;
			}
			.bold 
			{
  				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<div th:fragment="header">
			<div class="navbar">
				<script>
				$.ajax({
					url: "/ajax/navbar",
					type: "GET",
					success: function(response)
					{
						$("#ajax-navbar").html(response);
					},
					error: function(jqXHR, textStatus, errorThrown) 
					{
						console.log(textStatus, errorThrown);
					}
				});
				</script>
				<div id="ajax-navbar"></div>
			</div>
			
			<!-- Page Title and Logo -->
			
			<br/><br/>
		</div>
		<div layout:fragment="content">
			<h2>Program Information</h2>
			<div th:each="program : ${programs}">
				<label class="bold inline" for="program-name-div">Name:</label>
                <div class="inline" id="program-name-div" th:text="${program.name}"></div>
				<br>
				<label class="bold inline" for="program-description-div">Description:</label>
                <div class="inline" id="program-description-div" th:text="${program.description}"></div>
				<br>
				<label class="bold inline" for="program-level-div">Level:</label>
                <div class="inline" id="program-level-div" th:text="${program.level}"></div>
				<br>
				<label class="bold inline" for="program-genEdCredits-div">General Education Credits:</label>
				<div class="inline" id="program-genEdCredits-div" th:text="${program.genEdMinCredits + ' to ' + program.genEdMaxCredits}"></div>
				<br>
				<label class="bold inline" for="program-electiveCredits-div">Elective Credits:</label>
				<div class="inline" id="program-electiveCredits-div" th:text="${program.electiveMinCredits + ' to ' + program.electiveMaxCredits}"></div>
				<br>
				<label class="bold inline" for="program-majorCredits-div">Major Credits:</label>
				<div class="inline" id="program-majorCredits-div" th:text="${program.majorMinCredits}"></div>
				<br>
				<label class="bold inline" for="program-totalCredits-div">Total Credits:</label>
				<div class="inline" id="program-totalCredits-div" th:text="${program.totalMinCredits}"></div>
				<br>
				<h3>Required Courses</h3>
				<table>
					<thead>
						<tr>
							<th>Number</th>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="requiredClassID : ${program.getRequiredMajorClasses()}">
							<td>
								<a
									th:each="class : ${reqClasses}"
									th:if="${requiredClassID == class.id}"
									th:href="@{/class/number/{number}(number=${class.number})}" 
									th:text="${class.number}"
								>
								</a>
							</td>
							<td
								th:each="class : ${reqClasses}"
								th:if="${requiredClassID == class.id}"
								th:text="${class.name}"
							>
							</td>
						</tr>
					</tbody>
				</table>
            </div>
			<!-- th:attr="programChartData=${programChartData}" -->
			<script th:inline="javascript">
				console.log("Staring");
				google.charts.load('current', {packages:["orgchart"]});
				google.charts.setOnLoadCallback(drawChart);

				function drawChart() 
				{
					var data = new google.visualization.DataTable();
					
					data.addColumn('string', 'ClassNumber');
					data.addColumn('string', 'PreRequisiteOf');
		  
					// For each orgchart box, provide the name, manager, and tooltip to show.
					// Yes, the compiler says that this causes a problem.
					// It is not a problem. the compiler is wrong.
					data.addRows(JSON.parse([[${programChartData}]]));
		  
					// Create the chart.
					var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
					// Draw the chart, setting the allowHtml option to true for the tooltips.
					chart.draw(data, {'allowHtml':true});
				}
			</script>
			<hr>
			<div id="chart_div"></div>
		</div>
	</body>
</html>