<h4>Add Course to Schedule</h4>
<form th:action="@{/schedule/edit/newRow}" th:object="${ufoNewScheduleRow}" method="post">
    <div class="form-row">
        <input type="hidden" th:field="*{newRow.id}">
    </div>
    <div class="form-row">
        <label>Course Number</label>
        <select id="courseDropdown" th:field="*{newRow.courseNumber}">
            <option th:each="course : ${courseOptions}" th:value="${course}" th:text="${course}"></option>
        </select>
        <!-- <input  type="text" 
                class="form-control" 
                th:field="*{newRow.courseNumber}" 
                th:classappend="${#fields.hasErrors('newRow.courseNumber')} ? 'error-field'"> -->
    </div>
    <div class="form-row">
        <label>Course Passed?</label>
        <input type="checkbox" class="form-control" th:field="*{newRow.isPassed}" th:classappend="${#fields.hasErrors('newRow.isPassed')} ? 'error-field'">
    </div>
    <div class="form-row">
        <input type="hidden" th:field="*{schedule}" th:value="*{schedule}">
    </div>
    <div class="form-row">
        <input type="submit" value="Submit" class="form-input-submit">
    </div>
</form>