<h4>Your Course History</h4>
<table th:if="${not #lists.isEmpty(scheduleTable.rows)}">
    <tr>
        <td>Number</td>
        <td>Passed?</td>
    </tr>
    <tr th:each="scheduleRow : ${scheduleTable.rows}">
        <td class="classes-data">
            <a  th:href="@{/class/number/{number}(number=${scheduleRow.courseNumber})}" 
                th:text="${scheduleRow.courseNumber}">CourseNumber</a>
        </td>
        <td th:text="${scheduleRow.isPassed ? 'Yes' : 'No'}"></td>
    </tr>
</table>
<div th:if="${#lists.isEmpty(scheduleTable.rows)}">
    <div>History not on file. Add courses taken to your History.</div>
</div>
<div th:if="${not #lists.isEmpty(scheduleTable.rows)}">
    <h5>Export Course History JSON:</h5>
    <p>
        Your web browser may clear your course history after a period
        of time. To prevent keying in previosuly entered course history,
        copy the line below and save course history to a file of your chosing
        that can be imported later.
    </p>
    <div th:text="${scheduleTable.toString}"></div>
</div>